{% extends 'base.html' %}
{% load static %}
{% block content %}
<main role="main">

      <div class="album py-5 bg-light">
          <div class="container">

              <table class="table table-striped table-dark table-hover table-bordered ml-auto">
                  <thead>
                      <tr>
                          <th scope="col">NAME</th>
                          <th scope="col">CURRENT PRICE</th>
                          <th scope="col">LAST UPDATED</th>
                          <th scope="col">MARKET CAP</th>
                      </tr>
                  </thead>

                  {% for key,value in data.DISPLAY.items %}
                  <tbody>
                      <tr>
                          <td>{{key}}</td>
                          <td>{{value.USD.PRICE}}</td>
                          <td>{{value.USD.LASTUPDATE}}</td>
                          <td>{{value.USD.MKTCAP}}</td>
                      </tr>
                      {% endfor %}
                  </tbody>
              </table>

              <div class="album py-5 bg-dark">
                  <div class="container">
                      <div class="row ml-auto">
                          {% for x in api.Data %}
                          <div class="col-sm">
                              <div class="card" style="width: 18rem;">
                                  <img class="card-img-top" src="{{x.imageurl}}" alt="{{x.source}}">
                                  <div class="card-body">
                                      <h5 class="card-title">{{x.title}}</h5>
                                      <h4><p class="card-text">{{x.body}}</p></h4>
                                      <a href="{{x.url}}" class="btn btn-secondary">Read More</a>
                                  </div>
                              </div>
                              </br>
                          </div>
                          {% endfor %}
                      </div>
                      
                  </div>
              </div>
              <div class="pagination">
                  <span class="step-links">
                      {% if qset.has_previous %}
                      <a href="?page=1">&laquo; first</a>
                      <a href="?page={{ qset.previous_page_number }}">previous</a>
                      {% endif %}

                      <span class="current">
                          Page {{ qset.number }} of {{qset.paginator.num_pages }}.
                      </span>

                      {% if contacts.has_next %}
                      <a href="?page={{ qset.next_page_number }}">next</a>
                      <a href="?page={{ qset.paginator.num_pages }}">last &raquo;</a>
                      {% endif %}
                  </span>
              </div>
          </div>
      </div>
    </main>

{% endblock content %}