{% extends 'base.html' %}
{% load static %}

{% block content %}

  <main id="main">

    <!-- ======= Breadcrumbs ======= -->
    <section id="breadcrumbs" class="breadcrumbs">
      <div class="breadcrumb-hero">
        <div class="container">
          <div class="breadcrumb-hero">
            <h2>Blog</h2>
            <p>Latest blog posts from the cryptocurrency, artificial intelligence, and forex. </p>
          </div>
        </div>
      </div>
      <div class="container">
        <ol>
          <li><a href="{% url 'index' %}">Home</a></li>
          <li>Blog</li>
        </ol>
      </div>
    </section><!-- End Breadcrumbs -->

    <!-- ======= Blog Section ======= -->
    <section id="blog" class="blog">
      <div class="container">

        <div class="row">
        {% for blogs in bloglist %}
          <div class="col-lg-4  col-md-6 d-flex align-items-stretch" data-aos="fade-up">
            <article class="entry">
              <div class="entry-img">
                <img src="{{blogs.image.url}}" alt="" class="img-fluid">
              </div>

              <h2 class="entry-title">
                <a href="{% url 'blogurls:blog_details' blogs.slug%} ">{{blogs.title}}</a>
              </h2>

              <div class="entry-meta">
                <ul>
                  <li class="d-flex align-items-center"><i class="icofont-user"></i> <a href="{%url 'about'%}">{{blogs.author.name}}</a></li>
                  <li class="d-flex align-items-center"><i class="icofont-wall-clock"></i> <a href=""><time datetime="{{blogs.published_date}}">{{blogs.pub_date_pretty}}</time></a></li>
                </ul>
              </div>

              <div class="entry-content">
                <p>
                  {{blogs.summary|safe}}
                </p>
                <div class="read-more">
                  <a href="{% url 'blogurls:blog_details' blogs.slug %}">Read More</a>
                </div>
              </div>

            </article><!-- End blog entry -->
          </div>
        {% endfor %}
        </div>

        <div class="blog-pagination" data-aos="fade-up">
          <ul class="justify-content-center">
          {% if bloglist.has_next %}
            {% if bloglist.has_previous %}
            <li class="disabled"><i class="icofont-rounded-left"></i></li>
            {% endif %}
            <li><a href="#">1</a></li>
            <li class="active"><a href="#">2</a></li>
            <li><a href="#">3</a></li>
            <li><a href="#"><i class="icofont-rounded-right"></i></a></li>
          {% endif %}
          </ul>
        </div>

      </div>
    </section><!-- End Blog Section -->

  </main><!-- End #main -->

{% endblock content %}